<!DOCTYPE html>
<html lang="en">
<head>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="/app.js"></script>
</head>
<body ng-app="myApp">
  <div ng-controller="myCtrl">
    <form>
      Food name:
      <input type="text" ng-model="name">
      <br>
      <br> fid:
      <input type="text" ng-model="fid">
      <br>
      <br> Serving Size (g):
      <input type="text" ng-model="grams">
      <br>
      <br> Calories:
      <input type="text" ng-model="calories">
      <br>
      <br> Protein:
      <input type="text" ng-model="protein">
      <br>
      <br> Carbs:
      <input type="text" ng-model="carb">
      <br>
      <br> Fats:
      <input type="text" ng-model="fats">
      <br>
      <br> Price ($):
      <input type="text" ng-model="price">
      <br>
      <input type="submit" value="Submit" ng-click="submit(fid, name, grams, calories, protein, carb, fats, price)">
      <p>{{msg}}</p>
    </form>
  </div>
</body>
