/*
 * Globals
 */

 html,
 body {
   height: 100%;
   background-color:#EAECEE;

   font-family: 'Roboto', sans-serif;
 }

#tbar {
  background-color: black;
}


.calc{
    font-family: 'Orbitron', sans-serif;
}
/* angularJS material styles */
.calc .md-button{
  min-height: 150px;
  font-size: 40px;
  font-weight: bold;
}

.calc p{
  padding-left: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  font-weight:bold ;
}
